{{#each messages}}

<div style="margin-bottom: 10px">
 <div style="font-size: 10px; font-weight: bold; color: #2381CC">{{message.from.first_name}} {{message.from.last_name}}:</div>
 <div style="font-size: 14px;">{{message.text}}</div>
</div>

{{/each}}